li {
    color: blue;
    font-size: 15px;
    background: gray;
    text-decoration: underline;
}
section{}
h1{
    font-size: 30px;
    color: gold;
    text-align: center;
    font-family: 
}
footer{
    background: brown;
}
h2 {
    text-decoration: line-through;
}
